<div class="container">
    <h2>Create event:</h2>
    <%= form_for @event do |f| %>
       <%= f.label :name %></br>
       <%= f.text_field :name %></br>
       
       <%= f.label :location %></br>
       <%= f.text_field :location %></br>
       
       <%= f.label :date_on %></br>
       <%= f.date_field :date_on %></br>
       
       <%= f.submit 'Create event' %>
    <% end %>
</div>