<header>
    <div class="top-links">
        <%= link_to 'Home', root_url %>
        <div class="navigation">
            <% if logged_in? %>
                <%= link_to 'Profile', user_path(session[:current_user]) %>
                <%= link_to 'Create Event', new_event_path %>
                <%= link_to 'Log out', request.base_url + '/logout' %>
            <% else %>
                <%= link_to 'Log in', request.base_url + '/login' %>
                <%= link_to 'Register', new_user_path %>
            <% end %>
        </div>
    </div>
</header>