<!DOCTYPE html>
<html>
<head>
  <title>EventManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="flash-success"><%= flash[:success] %></div>
<div class="flash-danger"><%= flash[:danger] %></div> 

<%= render 'layouts/header' %>

<%= yield %>

</body>
</html>
